<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "OLP", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    root_path %></li>
          <li><%= link_to "Courses", courses_path %></li>
          <li><%= link_to "Projects", projects_path %></li>
          <li><%= link_to "Help",    help_path %></li>
          <li><%= link_to "Sign in", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>


<!-- MathJax -->
<script type="text/x-mathjax-config">
  MathJax.Hub.Config(
    {tex2jax: 
      {inlineMath: [['$','$'], ['\\(','\\)']],
      processEscapes: true
    }
    });
</script>

<script
  src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<!-- JQuery -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<!-- Popcorn -->
<script src="http://popcornjs.org/code/dist/popcorn-complete.min.js"></script>

<!-- SWFObject for Youtube player -->
<script src="swfobject.js"></script>  

</header>